.wrapper{
    background-color: #f6f8fc;
}
.board{
    box-shadow: 0px 1px 29px 0px rgb(1 1 1 / 10%);
    background-image: linear-gradient(180deg, #ede6ff 0%, white 100%);
}

.content{
    
    box-shadow: 0px 1px 51px 0px rgb(1 1 1 / 6%);
    background-image: linear-gradient(-90deg, #efffff 0%, white 100%);
}
.img-con{
    border-radius: 25px;
    background-color: aquamarine;
}